In [1]:
import cbsodata
import pandas as pd
import sqlite3
from tqdm import tqdm
import data

%load_ext autoreload
%autoreload 2

# Tutorial

In [ ]:
# Set the connection

path = 'CBSdatabase.db'
data.set_db_path(path)

In [ ]:
# Get table schema

ids = data.get_tables_database() # This retrieves the ids of the tables in the database
id = ids[0]
data.get_table_schema(id)

     cid                   name     type  notnull dflt_value  pk
0      0                     ID  INTEGER        0       None   0
1      1              FarmTypes     TEXT        0       None   0
2      2                Regions     TEXT        0       None   0
3      3                Periods     TEXT        0       None   0
4      4   NumberOfFarmsTotal_1  INTEGER        0       None   0
..   ...                    ...      ...      ...        ...  ..
148  148            Turkeys_145  INTEGER        0       None   0
149  149  DucksForFattening_146  INTEGER        0       None   0
150  150       OtherPoultry_147  INTEGER        0       None   0
151  151            Rabbits_148  INTEGER        0       None   0
152  152      FurredAnimals_149     REAL        0       None   0

[153 rows x 6 columns]

In [ ]:
# Get column info

data.get_column_info(ids) # Just input the ids you need

,odata.type,Position,ParentID,Type,Key,Title,Description,MapYear,ReleasePolicy,Datatype,Unit,Decimals,Default,PresentationType,Identifier
0,Cbs.OData.Dimension,0.0,NaN,Dimension,FarmTypes,Farm types,,NaN,NaN,None,None,NaN,None,None,80783eng
1,Cbs.OData.GeoDimension,1.0,NaN,GeoDimension,Regions,Regions,None,NaN,NaN,None,None,NaN,None,None,80783eng
2,Cbs.OData.TimeDimension,2.0,NaN,TimeDimension,Periods,Periods,,NaN,1.0,None,None,NaN,None,None,80783eng
3,Cbs.OData.Topic,3.0,NaN,Topic,NumberOfFarmsTotal_1,"Number of farms, total",Holdings that produce agricultural goods comme...,NaN,NaN,Long,number,0.0,Zero,Absolute,80783eng
4,Cbs.OData.TopicGroup,NaN,NaN,TopicGroup,,Land use,None,NaN,NaN,None,None,NaN,None,None,80783eng
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4992,Cbs.OData.TopicGroup,NaN,NaN,TopicGroup,,Wage per job,None,NaN,NaN,None,None,NaN,None,None,84669ENG
4993,Cbs.OData.Topic,7.0,8.0,Topic,HourlyWage_3,Hourly wage,The hourly wage are calculated by the sum of g...,NaN,NaN,Double,euros,2.0,Missing,None,84669ENG
4994,Cbs.OData.TopicGroup,NaN,NaN,TopicGroup,,Working hours,The number of hours someone works in a normal ...,NaN,NaN,None,None,NaN,None,None,84669ENG
4995,Cbs.OData.Topic,8.0,10.0,Topic,PerJobPerWeekIncludingOvertime_4,Per job per week including overtime,Weekly working hours are calculated by the ave...,NaN,NaN,Double,hours,1.0,Missing,None,84669ENG
4996,Cbs.OData.Topic,9.0,10.0,Topic,PerJobPerWeekExcludingOvertime_5,Per job per week excluding overtime,Weekly working hours are calculated by the ave...,NaN,NaN,Double,hours,1.0,Missing,None,84669ENG

In [ ]:
# Get all tables info. This is in a json but it can be accessed like this too.

data.get_all_tables_info()

,Identifier,Title,Summary
0,80783eng,"Agriculture; crops, livestock and land use by ...","Agricultural census; crops, livestock, land us..."
1,80784eng,Agriculture; labour force by region,"Agricultural census; number of persons, annual..."
2,85636ENG,"Arable crops; production, region",area and yield per crop\nprovince
3,37738ENG,Vegetables; yield and cultivated area per kind...,"Area and yield per vegetable\nArea, yield, kin..."
4,83981ENG,"Livestock manure; production, transport and us...","Manure production, nitrogen and phosphate in m..."
...,...,...,...
257,85682ENG,"Trade in goods; border crossing, SITC (5 digit...",Import and export value of goods (border cross...
258,85683ENG,"Trade in goods; border crossing, SITC (5 digit...",Import and export value of goods (border cross...
259,85919ENG,"Compensation of employees, employment; economi...","Compensation of employees, wages, labour volum..."
260,85917ENG,"Compensation of employees, employment; quarter...","Compensation of employees, wages, jobs (by sex..."
261,84669ENG,Jobs of employees; internationalisation of com...,"Employee jobs, job volume, wage\nInternational..."

# SQLITE

In [ ]:
# API use example from Demetrio's script

tables = cbsodata.get_table_list()
data.check_language_count(tables)
# retrieve specific table with identifier
table = pd.DataFrame(cbsodata.get_data('37105ENG'))
print(table.columns)
# retrieve metadata of specific table
metadata = pd.DataFrame(cbsodata.get_meta('37105ENG',name= 'DataProperties')) 
print(metadata)
# check if keys in metadata are corresponding to the columns in the actual dataset
data.check_col_names(table, metadata)

Number of 'ENG': 1026
Number of 'NED': 4729
Index(['ID', 'Regions', 'Periods', 'TotalSurface_1', 'TransportTotal_2',
       'Railroad_3', 'MainRoad_4', 'Airport_5', 'BuiltUpAreaTotal_6',
       'Residential_7', 'IndustryBusinessPublicInstitutions_8',
       'SocioCulturalFacilities_9', 'SemiBuiltUpAreaTotal_10', 'MiningArea_11',
       'BuildingSite_12', 'OtherSemiBuiltUpArea_13', 'RecreationTotal_14',
       'ParkAndPublicGarden_15', 'SportGrounds_16', 'OtherRecreationUsage_17',
       'AgricultureTotal_18', 'Greenhouses_19', 'OtherAgriculturalUsage_20',
       'WoodlandAndNatureTotal_21', 'Woodland_22', 'NaturalOpenArea_23',
       'WaterTotal_24', 'InlandWaterTotal_25', 'TidalWaterTotal_26'],
      dtype='object')
                 odata.type  ID  Position  ParentID           Type  \
0    Cbs.OData.GeoDimension   0       0.0       NaN   GeoDimension
1   Cbs.OData.TimeDimension   1       1.0       NaN  TimeDimension
2           Cbs.OData.Topic   2       2.0       NaN          Topic
3      Cbs.OData.TopicGroup   3       NaN       NaN     TopicGroup
4           Cbs.OData.Topic   4       3.0       3.0          Topic
5           Cbs.OData.Topic   5       4.0       3.0          Topic
6           Cbs.OData.Topic   6       5.0       3.0          Topic
7           Cbs.OData.Topic   7       6.0       3.0          Topic
8      Cbs.OData.TopicGroup   8       NaN       NaN     TopicGroup
9           Cbs.OData.Topic   9       7.0       8.0          Topic
10          Cbs.OData.Topic  10       8.0       8.0          Topic
11          Cbs.OData.Topic  11       9.0       8.0          Topic
12          Cbs.OData.Topic  12      10.0       8.0          Topic
13     Cbs.OData.TopicGroup  13       NaN       NaN     TopicGroup
14          Cbs.OData.Topic  14      11.0      13.0          Topic
15          Cbs.OData.Topic  15      12.0      13.0          Topic
16          Cbs.OData.Topic  16      13.0      13.0          Topic
17          Cbs.OData.Topic  17      14.0      13.0          Topic
18     Cbs.OData.TopicGroup  18       NaN       NaN     TopicGroup
19          Cbs.OData.Topic  19      15.0      18.0          Topic
20          Cbs.OData.Topic  20      16.0      18.0          Topic
21          Cbs.OData.Topic  21      17.0      18.0          Topic
22          Cbs.OData.Topic  22      18.0      18.0          Topic
23     Cbs.OData.TopicGroup  23       NaN       NaN     TopicGroup
24          Cbs.OData.Topic  24      19.0      23.0          Topic
25          Cbs.OData.Topic  25      20.0      23.0          Topic
26          Cbs.OData.Topic  26      21.0      23.0          Topic
27     Cbs.OData.TopicGroup  27       NaN       NaN     TopicGroup
28          Cbs.OData.Topic  28      22.0      27.0          Topic
29          Cbs.OData.Topic  29      23.0      27.0          Topic
30          Cbs.OData.Topic  30      24.0      27.0          Topic
31     Cbs.OData.TopicGroup  31       NaN       NaN     TopicGroup
32          Cbs.OData.Topic  32      25.0      31.0          Topic
33          Cbs.OData.Topic  33      26.0      31.0          Topic
34          Cbs.OData.Topic  34      27.0      31.0          Topic

                                     Key  \
0                                Regions
1                                Periods
2                         TotalSurface_1
3
4                       TransportTotal_2
5                             Railroad_3
6                             MainRoad_4
7                              Airport_5
8
9                     BuiltUpAreaTotal_6
10                         Residential_7
11  IndustryBusinessPublicInstitutions_8
12             SocioCulturalFacilities_9
13
14               SemiBuiltUpAreaTotal_10
15                         MiningArea_11
16                       BuildingSite_12
17               OtherSemiBuiltUpArea_13
18
19                    RecreationTotal_14
20                ParkAndPublicGarden_15
21                       SportGrounds_16
22               OtherRecreationUsage_17
23
24                   AgricultureTotal_18
25                        Greenhouses_19
26             OtherAgriculturalUsage_20
27
28             WoodlandAndNatureTotal_21
29                           Woodland_22
30                    NaturalOpenArea_23
31
32                         WaterTotal_24
33                   InlandWaterTotal_25
34                    TidalWaterTotal_26

                                      Title  \
0                                   Regions
1                                   Periods
2                             Total surface
3                                 Transport
4                           Transport total
5                                  Railroad
6                                 Main road
7                                   Airport
8                             Built-up area
9                       Built-up area total
10                              Residential
11  Industry, business, public institutions
12                Socio-cultural facilities
13                       Semi built-up area
14                 Semi built-up area total
15                              Mining area
16                            Building site
17                 Other semi built-up area
18                               Recreation
19                         Recreation total
20                   Park and public garden
21                            Sport grounds
22                   Other recreation usage
23                              Agriculture
24                        Agriculture total
25                              Greenhouses
26                 Other agricultural usage
27                      Woodland and nature
28                Woodland and nature total
29                                 Woodland
30                        Natural open area
31                                    Water
32                              Water total
33                       Inland water total
34                        Tidal water total

                                          Description  MapYear ReleasePolicy  \
0                                                          NaN           NaN
1                                                          NaN         False
2                   Total surface of the Netherlands.      NaN           NaN
3   Area in use for traffic and transport on roads...      NaN           NaN
4           Total area of the main group â€˜Transportâ€™.      NaN           NaN
5   Area in use for traffic and transport on railw...      NaN           NaN
6   Area in use for traffic and transport over the...      NaN           NaN
7   Area in use for traffic and transport in the a...      NaN           NaN
8   Area in use for residents, work, shopping, cul...      NaN           NaN
9       Total area of the main group â€˜Built-on areaâ€™.      NaN           NaN
10  Area mainly used for residents, including prim...      NaN           NaN
11  Area in use for industry, retail and business ...      NaN           NaN
12  Area in use by social and cultural facilities ...      NaN           NaN
13  Area with a certain amount of paving, not in u...      NaN           NaN
14  Total area of the main group â€˜Semi built-up ar...      NaN           NaN
15  Area for winning materials from the bottom or ...      NaN           NaN
16  Area in use for construction.\r\n\r\nincluding...      NaN           NaN
17  Area of other use with a certain amount of pav...      NaN           NaN
18                        Area in use for recreation.      NaN           NaN
19         Total area of the main group â€˜Recreationâ€™.      NaN           NaN
20  Green area in use for relaxation.\r\n\r\nInclu...      NaN           NaN
21  Area in use for sport activities.\r\n\r\nInclu...      NaN           NaN
22  Area of allotment gardens, for daytrips like z...      NaN           NaN
23                              Area for agriculture.      NaN           NaN
24        Total area of the main group â€˜Agricultureâ€™.      NaN           NaN
25  Area in use for agriculture in greenhouses.\r\...      NaN           NaN
26  Area for agriculture without glass, like pastu...      NaN           NaN
27             Area with forest or natural open area.      NaN           NaN
28  Total area of the main group â€˜Woodland and nat...      NaN           NaN
29  Area with trees for wood production and nature...      NaN           NaN
30  Open area with a wet or dry surface, mainly na...      NaN           NaN
31                                               None      NaN           NaN
32               Total area of the main group â€˜Waterâ€™      NaN           NaN
33  Inland water in use as waterway, recreational ...      NaN           NaN
34               Water outside the average high tide.      NaN           NaN

   Datatype Unit  Decimals     Default PresentationType
0       NaN  NaN       NaN         NaN              NaN
1       NaN  NaN       NaN         NaN              NaN
2      Long  km2       0.0  Impossible         Absolute
3       NaN  NaN       NaN         NaN              NaN
4      Long  km2       0.0  Impossible         Absolute
5      Long  km2       0.0  Impossible         Absolute
6      Long  km2       0.0  Impossible         Absolute
7      Long  km2       0.0  Impossible         Absolute
8       NaN  NaN       NaN         NaN              NaN
9      Long  km2       0.0  Impossible         Absolute
10     Long  km2       0.0  Impossible         Absolute
11     Long  km2       0.0  Impossible         Absolute
12     Long  km2       0.0  Impossible         Absolute
13      NaN  NaN       NaN         NaN              NaN
14     Long  km2       0.0  Impossible         Absolute
15     Long  km2       0.0  Impossible         Absolute
16     Long  km2       0.0  Impossible         Absolute
17     Long  km2       0.0  Impossible         Absolute
18      NaN  NaN       NaN         NaN              NaN
19     Long  km2       0.0  Impossible         Absolute
20     Long  km2       0.0  Impossible         Absolute
21     Long  km2       0.0  Impossible         Absolute
22     Long  km2       0.0  Impossible         Absolute
23      NaN  NaN       NaN         NaN              NaN
24     Long  km2       0.0  Impossible         Absolute
25     Long  km2       0.0  Impossible         Absolute
26     Long  km2       0.0  Impossible         Absolute
27      NaN  NaN       NaN         NaN              NaN
28     Long  km2       0.0  Impossible         Absolute
29     Long  km2       0.0  Impossible         Absolute
30     Long  km2       0.0  Impossible         Absolute
31      NaN  NaN       NaN         NaN              NaN
32     Long  km2       0.0  Impossible         Absolute
33     Long  km2       0.0  Impossible         Absolute
34     Long  km2       0.0  Impossible         Absolute
Matching columns: ['Regions', 'Periods', 'TotalSurface_1', 'TransportTotal_2', 'Railroad_3', 'MainRoad_4', 'Airport_5', 'BuiltUpAreaTotal_6', 'Residential_7', 'IndustryBusinessPublicInstitutions_8', 'SocioCulturalFacilities_9', 'SemiBuiltUpAreaTotal_10', 'MiningArea_11', 'BuildingSite_12', 'OtherSemiBuiltUpArea_13', 'RecreationTotal_14', 'ParkAndPublicGarden_15', 'SportGrounds_16', 'OtherRecreationUsage_17', 'AgricultureTotal_18', 'Greenhouses_19', 'OtherAgriculturalUsage_20', 'WoodlandAndNatureTotal_21', 'Woodland_22', 'NaturalOpenArea_23', 'WaterTotal_24', 'InlandWaterTotal_25', 'TidalWaterTotal_26'] 28
Non-matching columns: ['ID'] 1

In [2]:
# Create connection to the database

path = 'CBSdatabase.db'
data.set_db_path(path)

In [4]:
table.memory_usage(deep=True).sum()/1024**2

np.float64(0.5167198181152344)

In [5]:
tables = cbsodata.get_table_list()

In [32]:
# Upload tables to the database

eng_ids = data.return_english_tables(tables)
eng_ids = eng_ids[262:] # Select which tables to upload

data.upload_tables(eng_ids)

Uploading tables:   0%|          | 0/764 [00:44<?, ?table/s]

KeyboardInterrupt:

Uploaded tables are ids from eng_ids[0] to eng_ids[261].

Then, I erased the following tables from the database:
85682ENG
85680ENG
85683ENG
85428ENG
84668ENG

## Metadata

### Exploration

In [60]:

names = ['TableInfos', 'UntypedDataSet', 'TypedDataSet', 'DataProperties', 'CategoryGroups', 'Geschlecht', 'Alter', 'Region', 'Perioden']

names_that_dont_work = ['Geschlecht', 'Alter', 'Region', 'Perioden'] # These supposedly valid names (from the API web) don't work

names = [name for name in names if name not in names_that_dont_work]

for name in names:
    metadata = pd.DataFrame(cbsodata.get_meta('37105ENG',name= name)) 
    print(name)
    print(metadata)
    print('-----------------')

TableInfos
   ID                                              Title  \
0   0  Land use; main categories; regional, 1900 onwards

                         ShortTitle Identifier  \
0  Land use; regional, 1900 onwards   37105ENG

                                             Summary             Modified  \
0  Traffic area, Built up area, Forest, Natural a...  2022-11-30T02:00:00

  ReasonDelivery ExplanatoryText Language Catalog  ...     Period  \
0         Update                       en     CBS  ...  1900-2017

                                    ShortDescription  \
0  \nThis table provides information about the la...

                                         Description  \
0  CONTENTS\r\n\r\n1. General information\r\n2. D...

                                 DefaultPresentation  \
0  ts=1668751650543&graphtype=Table&r=Topics&k=Re...

                                    DefaultSelection      GraphTypes  \
0  $filter=((Periods eq '1900JJ00') or (Periods e...  Table,Bar,Line

  OutputStatus Source     MetaDataModified SearchPriority
0      Regular   CBS.  2022-11-30T02:00:00              2

[1 rows x 21 columns]
-----------------
UntypedDataSet
        ID Regions   Periods TotalSurface_1 TransportTotal_2 Railroad_3  \
0        0  NL01    1900JJ00          32550                .          .
1        1  NL01    1905JJ00          32570                .          .
2        2  NL01    1906JJ00          32570                .          .
3        3  NL01    1907JJ00          32570                .          .
4        4  NL01    1908JJ00              .                .          .
...    ...     ...       ...            ...              ...        ...
1542  1542  PV31    2018JJ00           2210                .          .
1543  1543  PV31    2019JJ00           2210                .          .
1544  1544  PV31    2020JJ00           2210                .          .
1545  1545  PV31    2021JJ00           2210                .          .
1546  1546  PV31    2022JJ00           2210                .          .

     MainRoad_4 Airport_5 BuiltUpAreaTotal_6 Residential_7  ...  \
0             .         .                  .             .  ...
1             .         .                  .             .  ...
2             .         .                  .             .  ...
3             .         .                  .             .  ...
4             .         .                  .             .  ...
...         ...       ...                ...           ...  ...
1542          .         .                  .             .  ...
1543          .         .                  .             .  ...
1544          .         .                  .             .  ...
1545          .         .                  .             .  ...
1546          .         .                  .             .  ...

     OtherRecreationUsage_17 AgricultureTotal_18 Greenhouses_19  \
0                          .                   .              .
1                          .                   .              .
2                          .                   .              .
3                          .                   .              .
4                          .                   .              .
...                      ...                 ...            ...
1542                       .                   .              .
1543                       .                   .              .
1544                       .                   .              .
1545                       .                   .              .
1546                       .                   .              .

     OtherAgriculturalUsage_20 WoodlandAndNatureTotal_21 Woodland_22  \
0                        21160                      8760        2520
1                        21270                      8410        2570
2                            .                      8360        2570
3                            .                      8320        2580
4                            .                         .           .
...                        ...                       ...         ...
1542                         .                         .           .
1543                         .                         .           .
1544                         .                         .           .
1545                         .                         .           .
1546                         .                         .           .

     NaturalOpenArea_23 WaterTotal_24 InlandWaterTotal_25 TidalWaterTotal_26
0                  6240           910                   .                  .
1                  5840           900                   .                  .
2                  5790           890                   .                  .
3                  5740           890                   .                  .
4                     .             .                   .                  .
...                 ...           ...                 ...                ...
1542                  .             .                   .
1543                  .             .                   .
1544                  .             .                   .
1545                  .             .                   .
1546                  .             .                   .

[1547 rows x 29 columns]
-----------------
TypedDataSet
        ID Regions   Periods  TotalSurface_1  TransportTotal_2  Railroad_3  \
0        0  NL01    1900JJ00         32550.0               NaN         NaN
1        1  NL01    1905JJ00         32570.0               NaN         NaN
2        2  NL01    1906JJ00         32570.0               NaN         NaN
3        3  NL01    1907JJ00         32570.0               NaN         NaN
4        4  NL01    1908JJ00             NaN               NaN         NaN
...    ...     ...       ...             ...               ...         ...
1542  1542  PV31    2018JJ00          2210.0               NaN         NaN
1543  1543  PV31    2019JJ00          2210.0               NaN         NaN
1544  1544  PV31    2020JJ00          2210.0               NaN         NaN
1545  1545  PV31    2021JJ00          2210.0               NaN         NaN
1546  1546  PV31    2022JJ00          2210.0               NaN         NaN

      MainRoad_4  Airport_5  BuiltUpAreaTotal_6  Residential_7  ...  \
0            NaN        NaN                 NaN            NaN  ...
1            NaN        NaN                 NaN            NaN  ...
2            NaN        NaN                 NaN            NaN  ...
3            NaN        NaN                 NaN            NaN  ...
4            NaN        NaN                 NaN            NaN  ...
...          ...        ...                 ...            ...  ...
1542         NaN        NaN                 NaN            NaN  ...
1543         NaN        NaN                 NaN            NaN  ...
1544         NaN        NaN                 NaN            NaN  ...
1545         NaN        NaN                 NaN            NaN  ...
1546         NaN        NaN                 NaN            NaN  ...

      OtherRecreationUsage_17  AgricultureTotal_18  Greenhouses_19  \
0                         NaN                  NaN             NaN
1                         NaN                  NaN             NaN
2                         NaN                  NaN             NaN
3                         NaN                  NaN             NaN
4                         NaN                  NaN             NaN
...                       ...                  ...             ...
1542                      NaN                  NaN             NaN
1543                      NaN                  NaN             NaN
1544                      NaN                  NaN             NaN
1545                      NaN                  NaN             NaN
1546                      NaN                  NaN             NaN

      OtherAgriculturalUsage_20  WoodlandAndNatureTotal_21  Woodland_22  \
0                       21160.0                     8760.0       2520.0
1                       21270.0                     8410.0       2570.0
2                           NaN                     8360.0       2570.0
3                           NaN                     8320.0       2580.0
4                           NaN                        NaN          NaN
...                         ...                        ...          ...
1542                        NaN                        NaN          NaN
1543                        NaN                        NaN          NaN
1544                        NaN                        NaN          NaN
1545                        NaN                        NaN          NaN
1546                        NaN                        NaN          NaN

      NaturalOpenArea_23  WaterTotal_24  InlandWaterTotal_25  \
0                 6240.0          910.0                  NaN
1                 5840.0          900.0                  NaN
2                 5790.0          890.0                  NaN
3                 5740.0          890.0                  NaN
4                    NaN            NaN                  NaN
...                  ...            ...                  ...
1542                 NaN            NaN                  NaN
1543                 NaN            NaN                  NaN
1544                 NaN            NaN                  NaN
1545                 NaN            NaN                  NaN
1546                 NaN            NaN                  NaN

      TidalWaterTotal_26
0                    NaN
1                    NaN
2                    NaN
3                    NaN
4                    NaN
...                  ...
1542                 NaN
1543                 NaN
1544                 NaN
1545                 NaN
1546                 NaN

[1547 rows x 29 columns]
-----------------
DataProperties
                 odata.type  ID  Position  ParentID           Type  \
0    Cbs.OData.GeoDimension   0       0.0       NaN   GeoDimension
1   Cbs.OData.TimeDimension   1       1.0       NaN  TimeDimension
2           Cbs.OData.Topic   2       2.0       NaN          Topic
3      Cbs.OData.TopicGroup   3       NaN       NaN     TopicGroup
4           Cbs.OData.Topic   4       3.0       3.0          Topic
5           Cbs.OData.Topic   5       4.0       3.0          Topic
6           Cbs.OData.Topic   6       5.0       3.0          Topic
7           Cbs.OData.Topic   7       6.0       3.0          Topic
8      Cbs.OData.TopicGroup   8       NaN       NaN     TopicGroup
9           Cbs.OData.Topic   9       7.0       8.0          Topic
10          Cbs.OData.Topic  10       8.0       8.0          Topic
11          Cbs.OData.Topic  11       9.0       8.0          Topic
12          Cbs.OData.Topic  12      10.0       8.0          Topic
13     Cbs.OData.TopicGroup  13       NaN       NaN     TopicGroup
14          Cbs.OData.Topic  14      11.0      13.0          Topic
15          Cbs.OData.Topic  15      12.0      13.0          Topic
16          Cbs.OData.Topic  16      13.0      13.0          Topic
17          Cbs.OData.Topic  17      14.0      13.0          Topic
18     Cbs.OData.TopicGroup  18       NaN       NaN     TopicGroup
19          Cbs.OData.Topic  19      15.0      18.0          Topic
20          Cbs.OData.Topic  20      16.0      18.0          Topic
21          Cbs.OData.Topic  21      17.0      18.0          Topic
22          Cbs.OData.Topic  22      18.0      18.0          Topic
23     Cbs.OData.TopicGroup  23       NaN       NaN     TopicGroup
24          Cbs.OData.Topic  24      19.0      23.0          Topic
25          Cbs.OData.Topic  25      20.0      23.0          Topic
26          Cbs.OData.Topic  26      21.0      23.0          Topic
27     Cbs.OData.TopicGroup  27       NaN       NaN     TopicGroup
28          Cbs.OData.Topic  28      22.0      27.0          Topic
29          Cbs.OData.Topic  29      23.0      27.0          Topic
30          Cbs.OData.Topic  30      24.0      27.0          Topic
31     Cbs.OData.TopicGroup  31       NaN       NaN     TopicGroup
32          Cbs.OData.Topic  32      25.0      31.0          Topic
33          Cbs.OData.Topic  33      26.0      31.0          Topic
34          Cbs.OData.Topic  34      27.0      31.0          Topic

                                     Key  \
0                                Regions
1                                Periods
2                         TotalSurface_1
3
4                       TransportTotal_2
5                             Railroad_3
6                             MainRoad_4
7                              Airport_5
8
9                     BuiltUpAreaTotal_6
10                         Residential_7
11  IndustryBusinessPublicInstitutions_8
12             SocioCulturalFacilities_9
13
14               SemiBuiltUpAreaTotal_10
15                         MiningArea_11
16                       BuildingSite_12
17               OtherSemiBuiltUpArea_13
18
19                    RecreationTotal_14
20                ParkAndPublicGarden_15
21                       SportGrounds_16
22               OtherRecreationUsage_17
23
24                   AgricultureTotal_18
25                        Greenhouses_19
26             OtherAgriculturalUsage_20
27
28             WoodlandAndNatureTotal_21
29                           Woodland_22
30                    NaturalOpenArea_23
31
32                         WaterTotal_24
33                   InlandWaterTotal_25
34                    TidalWaterTotal_26

                                      Title  \
0                                   Regions
1                                   Periods
2                             Total surface
3                                 Transport
4                           Transport total
5                                  Railroad
6                                 Main road
7                                   Airport
8                             Built-up area
9                       Built-up area total
10                              Residential
11  Industry, business, public institutions
12                Socio-cultural facilities
13                       Semi built-up area
14                 Semi built-up area total
15                              Mining area
16                            Building site
17                 Other semi built-up area
18                               Recreation
19                         Recreation total
20                   Park and public garden
21                            Sport grounds
22                   Other recreation usage
23                              Agriculture
24                        Agriculture total
25                              Greenhouses
26                 Other agricultural usage
27                      Woodland and nature
28                Woodland and nature total
29                                 Woodland
30                        Natural open area
31                                    Water
32                              Water total
33                       Inland water total
34                        Tidal water total

                                          Description  MapYear ReleasePolicy  \
0                                                          NaN           NaN
1                                                          NaN         False
2                   Total surface of the Netherlands.      NaN           NaN
3   Area in use for traffic and transport on roads...      NaN           NaN
4           Total area of the main group â€˜Transportâ€™.      NaN           NaN
5   Area in use for traffic and transport on railw...      NaN           NaN
6   Area in use for traffic and transport over the...      NaN           NaN
7   Area in use for traffic and transport in the a...      NaN           NaN
8   Area in use for residents, work, shopping, cul...      NaN           NaN
9       Total area of the main group â€˜Built-on areaâ€™.      NaN           NaN
10  Area mainly used for residents, including prim...      NaN           NaN
11  Area in use for industry, retail and business ...      NaN           NaN
12  Area in use by social and cultural facilities ...      NaN           NaN
13  Area with a certain amount of paving, not in u...      NaN           NaN
14  Total area of the main group â€˜Semi built-up ar...      NaN           NaN
15  Area for winning materials from the bottom or ...      NaN           NaN
16  Area in use for construction.\r\n\r\nincluding...      NaN           NaN
17  Area of other use with a certain amount of pav...      NaN           NaN
18                        Area in use for recreation.      NaN           NaN
19         Total area of the main group â€˜Recreationâ€™.      NaN           NaN
20  Green area in use for relaxation.\r\n\r\nInclu...      NaN           NaN
21  Area in use for sport activities.\r\n\r\nInclu...      NaN           NaN
22  Area of allotment gardens, for daytrips like z...      NaN           NaN
23                              Area for agriculture.      NaN           NaN
24        Total area of the main group â€˜Agricultureâ€™.      NaN           NaN
25  Area in use for agriculture in greenhouses.\r\...      NaN           NaN
26  Area for agriculture without glass, like pastu...      NaN           NaN
27             Area with forest or natural open area.      NaN           NaN
28  Total area of the main group â€˜Woodland and nat...      NaN           NaN
29  Area with trees for wood production and nature...      NaN           NaN
30  Open area with a wet or dry surface, mainly na...      NaN           NaN
31                                               None      NaN           NaN
32               Total area of the main group â€˜Waterâ€™      NaN           NaN
33  Inland water in use as waterway, recreational ...      NaN           NaN
34               Water outside the average high tide.      NaN           NaN

   Datatype Unit  Decimals     Default PresentationType
0       NaN  NaN       NaN         NaN              NaN
1       NaN  NaN       NaN         NaN              NaN
2      Long  km2       0.0  Impossible         Absolute
3       NaN  NaN       NaN         NaN              NaN
4      Long  km2       0.0  Impossible         Absolute
5      Long  km2       0.0  Impossible         Absolute
6      Long  km2       0.0  Impossible         Absolute
7      Long  km2       0.0  Impossible         Absolute
8       NaN  NaN       NaN         NaN              NaN
9      Long  km2       0.0  Impossible         Absolute
10     Long  km2       0.0  Impossible         Absolute
11     Long  km2       0.0  Impossible         Absolute
12     Long  km2       0.0  Impossible         Absolute
13      NaN  NaN       NaN         NaN              NaN
14     Long  km2       0.0  Impossible         Absolute
15     Long  km2       0.0  Impossible         Absolute
16     Long  km2       0.0  Impossible         Absolute
17     Long  km2       0.0  Impossible         Absolute
18      NaN  NaN       NaN         NaN              NaN
19     Long  km2       0.0  Impossible         Absolute
20     Long  km2       0.0  Impossible         Absolute
21     Long  km2       0.0  Impossible         Absolute
22     Long  km2       0.0  Impossible         Absolute
23      NaN  NaN       NaN         NaN              NaN
24     Long  km2       0.0  Impossible         Absolute
25     Long  km2       0.0  Impossible         Absolute
26     Long  km2       0.0  Impossible         Absolute
27      NaN  NaN       NaN         NaN              NaN
28     Long  km2       0.0  Impossible         Absolute
29     Long  km2       0.0  Impossible         Absolute
30     Long  km2       0.0  Impossible         Absolute
31      NaN  NaN       NaN         NaN              NaN
32     Long  km2       0.0  Impossible         Absolute
33     Long  km2       0.0  Impossible         Absolute
34     Long  km2       0.0  Impossible         Absolute
-----------------
CategoryGroups
Empty DataFrame
Columns: []
Index: []
-----------------

In [35]:
metadata_names_dont_work = pd.DataFrame(columns = ['ID', 'Name'])
count = 0
max_count = 5
for id in eng_ids:
    count += 1
    if count == max_count:
        break
    for name in names:
        try:
            metadata = pd.DataFrame(cbsodata.get_meta(id,name= name))
        except:
            new_entry = pd.DataFrame({'ID': [id], 'Name': [name]})
            metadata_names_dont_work = pd.concat([metadata_names_dont_work, new_entry], ignore_index=True)
            continue

metadata_names_dont_work.groupby('ID')['Name'].agg(', '.join).reset_index()

         ID                                 Name
0  37738ENG  Geschlecht, Alter, Region, Perioden
1  80783eng  Geschlecht, Alter, Region, Perioden
2  80784eng  Geschlecht, Alter, Region, Perioden
3  85636ENG  Geschlecht, Alter, Region, Perioden

Upon inspection of the different metadata names I decided that only TableInfos and DataProperties contain useful information

### Table Metadata

In [19]:
ids = data.get_tables_database()
metadata_tables = data.generate_metadata_tables_df(ids)
conn = sqlite3.connect(path)
metadata_tables.to_sql('metadata_tables', conn, if_exists='replace', index=False)
conn.close()

262

### Column Metadata

In [9]:
ids = data.get_tables_database()
metadata_columns = data.generate_metadata_columns_df(ids)
conn = sqlite3.connect(path)
metadata_columns.to_sql('metadata_columns', conn, if_exists='replace', index=False)
conn.close()

C:\Users\Mario\AppData\Local\Temp\ipykernel_6588\2788774919.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata_columns = pd.concat(metadata_columns_list, ignore_index=True).drop(columns=['ID'])

4997

In [7]:
data.set_db_path('CBSdatabase.db')

In [9]:
info = data.get_all_tables_info()
info.to_json('tables_info.json', orient='records')

In [11]:
ids = data.get_tables_database()
ids = ids[:5]
data.get_column_info(ids)

,odata.type,Position,ParentID,Type,Key,Title,Description,MapYear,ReleasePolicy,Datatype,Unit,Decimals,Default,PresentationType,Identifier
0,Cbs.OData.Dimension,0.0,NaN,Dimension,FarmTypes,Farm types,,None,NaN,None,None,NaN,None,None,80783eng
1,Cbs.OData.GeoDimension,1.0,NaN,GeoDimension,Regions,Regions,None,None,NaN,None,None,NaN,None,None,80783eng
2,Cbs.OData.TimeDimension,2.0,NaN,TimeDimension,Periods,Periods,,None,1.0,None,None,NaN,None,None,80783eng
3,Cbs.OData.Topic,3.0,NaN,Topic,NumberOfFarmsTotal_1,"Number of farms, total",Holdings that produce agricultural goods comme...,None,NaN,Long,number,0.0,Zero,Absolute,80783eng
4,Cbs.OData.TopicGroup,NaN,NaN,TopicGroup,,Land use,None,None,NaN,None,None,NaN,None,None,80783eng
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263,Cbs.OData.Topic,11.0,NaN,Topic,ManureSupplyToFarms_10,Manure supply to farms,Supply of manure takes place mainly on agricul...,None,NaN,Long,million kg,0.0,Impossible,None,83981ENG
264,Cbs.OData.Topic,12.0,NaN,Topic,ProcessedManureExcludingExports_11,Processed manure (excluding exports),None,None,NaN,Double,million kg,0.0,Impossible,None,83981ENG
265,Cbs.OData.Topic,13.0,NaN,Topic,NetManureExports_12,Net manure exports,None,None,NaN,Double,million kg,0.0,Impossible,None,83981ENG
266,Cbs.OData.Topic,14.0,NaN,Topic,SpreadingAreaForManure_13,Spreading area for manure,None,None,NaN,Long,million kg,0.0,Impossible,None,83981ENG
267,Cbs.OData.Topic,15.0,NaN,Topic,UseOfLivestockManureInAgriculture_14,Use of livestock manure in agriculture,Use of nitrogen and phosphate in animal manure...,None,NaN,Long,million kg,0.0,Impossible,None,83981ENG

In [5]:
data.set_db_path('CBSdatabase.db')
data.get_all_tables_info(True)

,Identifier,Title,Summary,Description
0,80783eng,"Agriculture; crops, livestock and land use by ...","Agricultural census; crops, livestock, land us...",CONTENTS\r\n\r\n1. General information\r\n2. D...
1,80784eng,Agriculture; labour force by region,"Agricultural census; number of persons, annual...",CONTENTS\r\n\r\n1. General information\r\n2. D...
2,85636ENG,"Arable crops; production, region",area and yield per crop\nprovince,\r\nCONTENTS\r\n\r\n1. General information\r\n...
3,37738ENG,Vegetables; yield and cultivated area per kind...,"Area and yield per vegetable\nArea, yield, kin...",1. General information\r\n2. Definitions and e...
4,83981ENG,"Livestock manure; production, transport and us...","Manure production, nitrogen and phosphate in m...",CONTENTS\r\n\r\n1. General information\r\n2. D...
...,...,...,...,...
257,85682ENG,"Trade in goods; border crossing, SITC (5 digit...",Import and export value of goods (border cross...,CONTENTS \r\n\r\n1. General information\r\n2. ...
258,85683ENG,"Trade in goods; border crossing, SITC (5 digit...",Import and export value of goods (border cross...,CONTENTS \r\n\r\n1. General information\r\n2. ...
259,85919ENG,"Compensation of employees, employment; economi...","Compensation of employees, wages, labour volum...",CONTENTS\r\n\r\n1. General information\r\n2. D...
260,85917ENG,"Compensation of employees, employment; quarter...","Compensation of employees, wages, jobs (by sex...",CONTENTS\r\n\r\n1. General information\r\n2. D...
261,84669ENG,Jobs of employees; internationalisation of com...,"Employee jobs, job volume, wage\nInternational...",\r\nCONTENTS\r\n\r\n1. General information\r\n...

In [6]:
ids = data.get_tables_database()
id = ids[0]
data.get_table_schema(id)

     cid                   name     type  notnull dflt_value  pk
0      0                     ID  INTEGER        0       None   0
1      1              FarmTypes     TEXT        0       None   0
2      2                Regions     TEXT        0       None   0
3      3                Periods     TEXT        0       None   0
4      4   NumberOfFarmsTotal_1  INTEGER        0       None   0
..   ...                    ...      ...      ...        ...  ..
148  148            Turkeys_145  INTEGER        0       None   0
149  149  DucksForFattening_146  INTEGER        0       None   0
150  150       OtherPoultry_147  INTEGER        0       None   0
151  151            Rabbits_148  INTEGER        0       None   0
152  152      FurredAnimals_149     REAL        0       None   0

[153 rows x 6 columns]